<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<title>Chocolate Trade</title>
</head>
<body>
	<div class="topnav" id="myTopnav">
    
  <a href="index.html" class="active" id="item">Home</a>
  <a href="process.html" class="active" id="item">Process</a>
  <a href="order.html" class="active" id="item">Order</a>
  <a href="contact.html" class="active" id="item">Contact</a>
  <a href="index.html" class="active" id="title">The Chocolate Trade</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>

</div>
<img src="img/jumbo.png" id="jumbo">